@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Style Script', cursive;


*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem,1.5vw,1.5rem);
    color: black;
}

:root{
    --FONT_COLOR: black;
    --BG_COLOR: white;
    --BOX_SHADOW: rgba(0, 0, 0, 0.436);
    --LOGO_COLOR: #58C5E8; /*  #58C5E8 */
    --NAV_COLOR:#58c4e82a;
    --GREY: rgb(101, 107, 114);
    --TRANSPARENT_COLOR:rgba(255, 255, 255, 0.081);
    --BLACK_COLOR : black;
    --SANDCOLOR: #865326;
    --SEAGREEN: seagreen;
    --MENU_BG: #58c4e841;
    --SEACOLOR: #78D7F1;
    --ABOUT_TEXT_COLOR: #023631;
}

/*****  Span Styles  ************/

.dark{
    color: black;
    opacity: 1;
    font-size: 1em;
    font-weight: 800;
}

.dull{
    opacity: 0.5;
    font-weight: 800;
    font-size: 0.8em;
}


/********Website starts********/

body{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--BG_COLOR);
    color: var(--FONT_COLOR);
    width:100vw;
    min-height: 100vh;
    overflow-Y: hidden;
    transition: 4s;
}

.header{
    width:100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--TRANSPARENT_COLOR) ;
    z-index: 999;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.5s;
}

.navBar{
    z-index: 1000;
    width: 100%;
    min-height: 1rem;
    display: flex;
    padding: 0 2em;
    align-items: center;
    justify-content: space-between;
}

.navBar .logo{
    font-family: 'Style Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 2rem;
    color: #58C5E8;
    opacity: 0;
    transition: 2s;
}



.navBar .logoFirstLetter{
    font-family: 'Style Script', cursive;
    font-size: 2.5rem;
    color: #58C5E8;
    transition: 2s;
}

.menuItems{
    list-style: none;
    display: flex;  
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.hideMenuIcon{
    display:none;
}


.header .menuItems li a{
    text-decoration: none;
    display: block;
    padding:  0.5rem 1rem;   
    color: var(--GREY);
    transition: 0.3s;
    transform: rotateX(90deg);
    position: relative;

}


.header .menuItems li a:hover{
    color: rgb(14, 140, 157);
    font-weight: 400;
    letter-spacing: 0.5px;
}



.showMenuIcon{
    display: none;
    cursor: pointer;
}


/*******************Top Section *****************/

.main .topSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    position: relative;
    overflow-x: hidden;
}

.frontPage{
    width:100%;
    height: 100vh;
}

.cloud{
    width: 30%;
    position: absolute;
    right: 20rem;
    top: 20%;
    transition: 4s;
}

.boat{
    width: 20%;
    opacity: 0.5;
    position: absolute;
    bottom: 5rem;
    left:0rem;
    z-index: 2;
    transition: 2s;
    transform: rotate(-5deg);
}

.wheel{
    position: absolute;
    opacity: 0.4;
    top: 20%;
    left: 20%;
    z-index:20;
    animation:rotation 10s infinite linear;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }to{
        transform:rotate(360deg);
    }
}



.sea{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 1;
}


.update{
    position: absolute;
    top: 28%;
    left: 28%;
    z-index: 2;
    font-size: 16px;
    padding: 0 2em;
    color:var(--GREY);
    height: 32px;
}

.container{
    height: auto;
    min-width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 25%;
    gap: 1rem;
}

.container h1{
    color: var(--GREY);
}

.wish{
    position: absolute;
    left: 0;
    top:0;
}

.autoSpell{
    position: absolute;
    left: 0;
    top: 2rem;
}

.container span{
    color: var(--LOGO_COLOR);
}

.gmail{
    position: absolute;
    right: 40px;
    bottom: 24px;
    z-index: 20;
    opacity: 0.6;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.mail{
    height: 10vh;
    width: 100%;
    background-color: #76D7F1;
    position: relative;
}

.linkBar{
    width: 30%;
    position: absolute;
    bottom: 0;
    right:0;
    opacity: 0.5;
}

.gmail{
    position: absolute;
    right:48px;
    bottom:24px;
    font-size: 0.8em;
}



/********************Main ***************/

.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



/*******************About*********************/


.aboutContainer{
    background-image: linear-gradient(#76D7F1,white);
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.aboutContainer .snow{
    position: absolute;
    opacity: 0.2;
    top:0;
    left:0;
}

.aboutContainer .glacierWall{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

.about{
    background-color: transparent;
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);

    grid-template-areas: 
    "content content content content content content tech tech tech ";
    overflow: hidden;

    padding: 32px 0 0 0;

    grid-template-rows: 100vh 10vh;
    z-index: 1;
}


.content{
    background-color: transparent;
    grid-area: content;
    padding: 20px;
    z-index: 3;

    display: grid;
    grid-template-columns: 10vw 40vw;
    grid-auto-rows: auto;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
}

.content .aboutHeading{
    width: 21vw;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    padding: 20px;
    color: #2BB5E2;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 200;
    opacity: 0.2;

    transition: 5s;
}


.content p{
    text-align: justify;
    font-size: 0.8em;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 40vw;
    height: 0%;
    padding: 36px;
    color: black;

    box-shadow: 1px 2px 4px white;
    border-radius: 10px;

    overflow: hidden;
    transition: 5s;
}



.tech{
    grid-area: tech;

    display: grid;
    grid-auto-rows: 30vh;
    place-items: center;
}

.tech h3{
    opacity: 0.8;
    letter-spacing: 12px;
    color: black;
    font-family: 'Gochi Hand', cursive;
    transform: rotateX(90deg);
    transition: 3s;    
}


.tech .skillSet{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech .skillSet .skillList{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 20px;
}

.tech .skillSet .skillList img{
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin: 12px;
    width : 0%;
    display: flex;

    border-radius: 150%;
    box-shadow: 1px 2px 10px white;
    padding: 6px;
}

.tech .skillSet .skillList img:nth-child(1){
    transition-delay: 0.2s;
}

.tech .skillSet .skillList img:nth-child(2){
    transition-delay: 0.4s;
}
.tech .skillSet .skillList img:nth-child(3){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(4){
    transition-delay: 0.4s;
}
.tech .skillSet .skillList img:nth-child(5){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(6){
    transition-delay: 0.6s;
}
.tech .skillSet .skillList img:nth-child(7){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(8){
    transition-delay: 0.6s;
}

.bubbles img{
    width: 50px;
    height: auto;
    animation: float 7s infinite linear;
}

.bubbles{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    place-items: center;

    position: absolute;
    bottom:-10vh;
    right: 0;
}

.bubbles .flake{
    opacity: 0.8;
}



@keyframes float{
    0%{
        transform: translateY(0);
        opacity: 1;
    }25%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }75%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(-90vh);
        opacity:0;
    }
}

.bubbles img:nth-child(1){
 width: 50px;
 animation-delay: 2s;
}

.bubbles img:nth-child(2){
width: 35px;
animation-delay: 5s;
}

.bubbles img:nth-child(3){
    animation-delay: 1s;
    width: 60px;
}
.bubbles img:nth-child(4){
    animation-delay: 3s;
    width: 45px;
}
.bubbles img:nth-child(5){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 5s;
    width: 30px;
}

.bubbles img:nth-child(7){
    animation-delay: 1s;
    width: 50px;
}
.bubbles img:nth-child(8){
    animation-delay: 4s;
    width: 25px;
}
.bubbles img:nth-child(9){
    animation-delay: 2s;
    width: 40px;
}


.myResume{
    /* background-color: red; */
    width: 300px;
    height: 60px;
    position: absolute;
    right:12%;
    bottom:20%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
}

.resumeContainer{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoom 4s linear infinite;
    /* background-color: red; */
}

.resumeContainer a{
    width: 100%;
    top:0;
    left:0;
    opacity: 0.8;
    position: absolute;
    transition: 1s;
}

@keyframes zoom{
    0%{
        width: 80px;
        height: 80px;
    }50%{
        width: 75px;
        height: 75px;
    }100%{
        width: 80px;
        height: 80px;
    }
}

.resumeContainer a img{
    width:100%;
}

.resumeContainer p{
    opacity: 0.7;
    z-index: -1;
}

.downloadMsg{
    font-size: 0.6em;
    background-color: rgba(255, 255, 255, 0.217);
    border-radius: 50px;
    box-shadow: 1px 1px 5px white;
    width: 0px;
    padding:0px;
    overflow: hidden;
    transition: 2s;

    display: flex;
    align-items: center;
    justify-content: center;
}



/**************  Profiles**************/

.profiles{
    padding-top: 20vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
}

.profiles > h1{
    position: absolute;
    top: 140px;
    color: #1193AB;
    left:0%;
    width: 60%;
    height: 5vh;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1em;
}

.profileEnvironment{
    height: 100vh;
    width: 100%; 
    /* background-color: red;  */

    display:flex;
    justify-content: end;
    padding: 0 5em;
    position: relative;
    z-index: 200;
}

.myProfiles{
    height: 50vh;
    width: 50vw;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    
    position: absolute;
    left:-70%;
    transition: 2s;

    flex-wrap: nowrap;

}


.profiles .icyMountain{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}



.profileTitle{
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: title;
    gap: 3rem;
}

.linkWrap{
    width: 80px;
    display: flex;
    justify-content: center;
    justify-items: start;
    align-items: center;
    gap: 16px;

    transition: 3s linear;
}

.linkWrap a img{
    width: 100%;
    padding: 6px;
    margin: 5px;
    border-radius: 50px;
    /* transition: 2s ease-in-out; */
    box-shadow: 1px 2px 5px #226b77;
}

.linkWrap a img:hover{
    background-color: #DFF4F7;
}



.linkWrap a{
    text-decoration: none;
    color: #226b77;
    overflow: hidden;
    width: 60px;
    height: auto;
    padding: 8px;
    transition: 1s;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.linkWrap a:hover{
    color: black;
    text-decoration: underline;
}




.title{
    height:50vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    /* overflow-y: hidden; */
}

.titleWraper{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50vh;
    left: 3vw;
    padding: 2em;
    transition: 2s;
    background-color: #DFF4F7;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #7DD0DE;
}

.titleWraper > h1{
    display: none;
}

.achievementTitle{
    letter-spacing: 5px;
    color : #226b77;
    width: 100%;
    text-align: center;
}

.titleWraper ul{
    border-top: 1px solid grey;
    padding-top: 6px;
}



.titleWraper ul li{
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 4px;
    width: 100%;
    padding: 12px;
    font-weight: 500;
    color: grey;
}



/************Project******************/

.project{
    min-height: 50vh;
    width: 100%;
    background-color: #7ED1DF;
    display: flex;
    overflow: hidden;
    /* gap: 1rem; */
    align-items: center;
    justify-content: end;
    flex-direction: column;

    background-image: linear-gradient(#7ED1DF, #b8eff8);
}

.project .mask .projectHeading{
    width: 10%;
    height: 6vh;
    top:40px;
    left:0;
    position: absolute;
    z-index: 5;
}


.project .mask .projectHeading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    right: 46%;
    border-radius: 5px;
    color: black;
    z-index: 5;
    transform: rotate(-90deg);

    background-color: #b8eff8;
    position: inherit;
    left:-600px;
    width: 100%;
    height: 100%;
    padding: 12px;

    transition: 2s;
}

.mask{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 1px 2px 5px white;
}

.mask .designImage{
    width: 100%;
    height: auto;
    position: absolute;
    bottom:0;
    left:0;
    opacity: 0;
    z-index: -1;
    transition: 4s;
}

.projectContainer{
    background-color: rgba(255, 255, 255, 0.249);
    border-radius: 10px;
    box-shadow: 1px 2px 5px #fff;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 2;
}

.projectContainer .titles{
    height: 50%;
    width: 20%;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.titleSplit{
    width: 50%;
    height: 0.1px;
    border-top: none;
    border-color: black;
    opacity: 0.1;
}

.projectContainer .titles .btn{
    /* border: 1px solid black; */
    /* background-color: transparent; */
    padding: 8px 24px;
    border-radius: 25px;
    font-size: 0.7em;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}

.agro{
    border: 1px solid #08606f;
    color: #1193AB;
}



.projectContainer .titles .btn:hover{
    color: black;
    letter-spacing: 1px;
    box-shadow: 1px 1px 5px black;
    background-color: rgba(0, 0, 0, 0.068);
}

.projectContainer .details{
    height: 100%;
    width: 70%;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */

}

.projectContainer .details .discription{
    height: 60%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    /* background-color: red; */
}

.discription .projectContent{
    width: 100%;
    height: 80%;
    letter-spacing: 1px;
    font-size: 0.7em;
    opacity: 0.7;
    line-height: 28px;

}


.projectContainer .details h5{
    width:100%;
    height: 5vh;
    text-align: center;
    /* background-color: red; */
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(17, 118, 104);
}

.projectContainer .details .techStack{
    height:60%;
    width: 45%;
}

#techImages{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.images{
    z-index: 10;
    transition: 0.8s;
}

.images:nth-child(1){
    transition-delay: 0.2s;
}
.images:nth-child(2){
    transition-delay: 0.5s;
}
.images:nth-child(3){
    transition-delay: 0.7s;
}
.images:nth-child(4){
    transition-delay: 1s;
}
.images:nth-child(5){
    transition-delay: 1.2s;
}





/******Footer********/


.footer{
    /* background-color: rgb(247, 247, 247); */
    background-color: rgba(0, 0, 0, 0.922);
    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}


.footer .follow{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 3;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}



.footer .follow h4{
    font-weight: 400;
    z-index: 2;
    color: #1193AB;

}

.footer .follow p{
    font-weight: 400;
    font-size: 0.8em;
    z-index: 2;
}

.contactLinks{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.contactLinkWrapper{
    /* background-color: white; */
    width: 12%;
    height: 10vh;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactLinkWrapper a{
    transition: 1.5s;
    transition-timing-function: linear;
    left: 900px;
    position: relative;
}

.contactLinkWrapper a:nth-child(1){
    transition-delay: 0s;
}
.contactLinkWrapper a:nth-child(2){
    transition-delay: 0.1s;
}
.contactLinkWrapper a:nth-child(3){
    transition-delay: 0.2s;
}
.contactLinkWrapper a:nth-child(4){
    transition-delay: 0.3s;
}

.contactLinks H4{
    letter-spacing: 5px;
    color: #226b77;
}

.footer .follow .contactLinks a{
    width: 30px;
    opacity: 0.6;
    z-index:2;
}

.footer .follow .contactLinks a:hover{
    opacity: 0.7;
}

.footer .follow  .contactLinks img{
    width: 30px;
    border-radius: 150%;
    padding: 5px;
    background-color: rgb(222, 222, 222);
}

.footer .follow  .contactLinks img:hover{
    /* box-shadow: 1px 2px 5px grey; */
    background-color: white;
}


.display{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid grey;
    position:fixed;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
    z-index: 10000;
}


.sideBar{
    width: 15vw;
    height: 10vh;
    background-color: transparent;
    border: 1px solid grey;
    position: fixed;
    right: -300px;
    transition: 3s;
    bottom: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;   
}

.sideBar a{
    width: 30px;
}

.sideBar a img{
    opacity: 0.4;
}

.sideBar a img:hover{
    opacity: 0.7;
}

.endBanner{
    position: absolute;
    width: 100%;
    height: 8vh;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endBanner p{
    color: white;
    opacity: 0.8;
    font-size: 0.7em;

}

.endBanner p span{
    color: #1193AB;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.loading{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    z-index: 3000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    transition: 2s;
}

.loading h1{
    letter-spacing: 2px;
}

body{
    overflow: hidden;
}


.backHome{
    display: none;
}

@media screen and (max-width: 1200px){
    .tech{
        grid-auto-rows: 25vh;
    }

    .myResume{
        right: 6%;
    }

    .profiles{
        padding-top:0;
    }

    .profileEnvironment{
        height: 80vh;
    }

    /*   project */

    .project .mask .projectHeading{
        left: 20px;
    }

}

@media screen and (max-width: 992px){
    .content p{
        padding: 20px;
        line-height: 30px;
    }

    .myResume{
        right: 2%;
    }

    .resumeContainer a{
        opacity: 1;
    }
    .resumeContainer p{
        opacity: 1;
    }

    .profiles{
        height: 80vh;
    }

    .profiles > h1{
        top: 90px;
    }

    .myProfiles{
        justify-content: center;
        gap:0em;
    }

    .titleWraper{
        width:100%;
    }
}



@media screen and (max-width: 768px) {

    .navBar{
        gap: 20px;
    }

    .menuItems{
        width: 80%;
        height: 100%;
    }
    
    .frontPage .update{
        top: 24vh;
    }

    .sideBar{
        display: none;
    }


    .linkBar{
        width: 35%;
    }

    .gmail{
        bottom: 20px;
        right:0;
    }   

    .about{
        padding:0px;
        grid-template-areas: 
        "content content content content content content tech tech tech tech";

        height:80%;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content .aboutHeading{
        transform: rotate(0deg);
        font-size: 12px;
        white-space: nowrap;
        padding:0;
    }

    .content p{
        width: 50vw;
        line-height: 25px;
    }

    .myResume{
        right: 0%;
        bottom: 8%;
    }



    /*******Profiles************/



    .profiles > h1{
        top:40px;
    }

    .linkWrap a img{
        width:70%;
    }

    .titleWraper{
        height: 80%;
        width:100%;
        padding: 0em;
        gap: 0rem;
    }

    .achievementTitle{
        letter-spacing: 2px;
    }

    
    .titleWraper ul{
        padding-left:24px;
    }
    
    .titleWraper ul li{
        font-size: 10px;
        padding: 6px;
    }


    /*******Projects  ******/


    .discription .projectContent{
        line-height: 16px;
        font-size: 0.6em;
    }

    
}


/******** Mobile Screen**********/

@media screen  and (max-width: 576px) { 

    .frontPage{
        width:100%;
        height: 80vh;
      }

    .header{
        padding: 0px 16px;
    }

    .navBar{
        padding: 0 0.5em;
    }

    .navBar .logo{
        letter-spacing: 0.4rem;
    }

    .showMenuIcon{
        display: flex;
        width: 50px;
        opacity: 0.7;
    }

    .hideMenuIcon{
        display: flex;
        cursor: pointer;
        width: 80px;
        padding: 12px;   
        opacity: 0.5;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 15%;
        top: 25%;

    }

    .hideMenuIcon span{
        font-size: 50px;
    }


   .menuItems{
        height: 350px;
        width: 350px;
        flex-direction: column;
        background-color: var(--MENU_BG);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        position: absolute;
        align-items: flex-end;
        top: -20rem;
        right: -20rem;
        transition: 0.5s;
        border-bottom-left-radius: 150%;
        padding: 2rem 4rem;  
    }

    
    .header .navBar .menuItems li a{
        transform: rotateX(0deg);

        color: var(--BLACK_COLOR);
        font-size: 1em;
        letter-spacing: 2px;
    }

    .cloud{
        bottom: 0;
        left: 0;
        width: 60%;
    }

    .container{
        top: 50%;
        left: 10%;
        min-width: 70%;
        height: 100px;
    }

    .container h1{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .boat{
        width: 50%;
        bottom: 30px;
        left: 100px;

        animation: swing 10s linear infinite;
    }

    @keyframes swing{
        0%{
            transform: rotate(10deg);
            left: 100px;
        }50%{
            transform: rotate(-10deg);
            left: 105px;
        }100%{
            transform: rotate(10deg);
            left: 100px;
        }
    }


    .cloud{
        top: 20%;
        left:-100%;
        width: 70%;
        opacity: 0.9;
        animation: float 20s linear infinite;
    }

    @keyframes float {
        from{
            left:100%;
        }to{
            left: -100%;
        }
    }

    .frontPage .update{
        display: none;
    }
    
    .wheel{
        top: 16%;
        width: 30%;
        left: 12px;
        opacity: 0.4;
    }


    .linkBar{
        top:0;
        right:10px;
        width: 15em;
    }

    .gmail{
        font-size: 10px;
        right:12px;
        top: 0px;
    }

    /***** about  **/

    .content p{
        width: 100%;
        background-color: #76D7F1;
    }
    .aboutContainer{
        flex-direction: column;
        padding: 0px;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .content .aboutHeading{
        transform: rotate(0deg);
        width: 300px;

        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top:0px;
        font-weight: 500;
    }

    #skillSetHeading{
        margin: 20px;
        font-size: 1.5rem;
        transform: rotate(0deg);
        color: rgb(7, 100, 113);
    }

    .tech{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 40px;
    }

    .tech h3{
        padding: 6px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bubble{
        background-color: red;
    }

    .myResume{
        width: 150px;
        left: 70%;
        /* background-color: lawngreen; */
        bottom: 4%;
    }

    .downloadMsg{
        display: none;
    }



    /********profiles */

    .profiles{
        height: 70vh;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20px;      
    }

    .profiles h1{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 24px;
        font-size: 1.2rem;
        letter-spacing: 4px;
        background-color: white;
    }

    .profileEnvironment{
        height: 50vh;
        display: flex;
        flex-direction:column ;
        padding:0;
        justify-content: start;
        gap: 2rem;
        transition: 1s;
        background-color: transparent;
    }

    .myProfiles{
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 15vh;
        left:-600px;
        transition: 2s;
    }

    .title{
        width: 100%;
        height: 40vh;
        align-items: center;
        justify-content: start;        
    }

    .titleWraper{
        left: 80px;
        width: 70%;
        height: 22vh;
    }

    .titleWraper h1{
        display: none;
    }





    /********Projects */
    .project{
        min-height:50vh;
        justify-content: center;
        overflow: scroll;
    }

    .mask{
        height: 50vh;
    }

    .mask .designImage{
        height: 100%;
    }

    .projectContainer .details{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .project .mask .projectHeading h1{
        width: 18vw;
    }

    .projectContainer .details .discription{
        width: 100%;
        height: 60%;
        padding: 20px;
    }
    .discription .projectContent{
        font-size: 0.8em;
        line-height: 20px;
        text-align: justify;
        opacity: 1;
        overflow: scroll;
    }

    .projectContainer .details .techStack{
        width: 100%;
        height: 40%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .projectContainer .details .techStack h5{
        height: 2vh;
    }




    /*********Footer*****/

    .footer{
        height: 40vh;
    }

    .backHome{
        height: 50px;
        width: 80px;
        position: absolute;
        display: flex;
        background-color: rgba(255, 255, 255, 0.607);
        border-radius: 50px;
        align-items: center;
        justify-content: end;
        padding: 0px 12px;
        left:-75px; /*-35  */
        bottom: 25%;

        transition: 1s;
    }

    .backHome a{
        display: flex;
        align-items: center;
        justify-content: center;     
        border-radius: 50px;
        z-index: 20;  
    }

    .backHome a img{
        width: 30px;
    }
    
}

@media screen  and (max-width: 400px){

    .header{
        height: 90px;
    }

    .navBar .logo{
        opacity: 1;
    }

    .header .navBar .showMenuIcon{
        opacity: 0.7;
    }

    .sea{
        width: 100%;
        bottom: 0px;
        height: 150px;
    }

    .main .topSection{
        height: 90vh;
    }


    .container{
        width: 80%;
    }

   .boat{
        bottom: 80px;
    }


    .gmail{
        font-size: 9px;
    }



    /**********About **************/

    .aboutContainer{
        flex-direction: column;
        padding: 0px;
    }

    .tech{
        padding: 20px;
    }

    .myResume{
        bottom: 4%;
        left: 65%;
    }

    .resumeContainer a{
        border-radius: 150%;
        padding:0;
    }

    /********profiles */


    .profileEnvironment{
        height: 40vh;
        gap:0em;
    }

    .titleWraper{
        left: 14%;
        height: 25vh;
    }


    /********projects ****/

    .project .mask .projectHeading h1{
        width: 20vw;
    }

    /*********Footer*****/


    .footer{
        height: 25vh;
    }

    .sideBar{
        width: 100px;
        height: 6vh;
        padding: 10px;
        gap: 4px;
    }

    .sideBar a{
        width: 20px;
    }
    .contactLinks{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactLinkWrapper{
        width: 50%;
        height: 10vh;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-around;   
    }

    .endBanner{
        height: 5vh;
    }

    .backHome{
        height: 40px;
        width: 75px;
        bottom: 30%;
    }

    .backHome a img{
        width: 25px;
    }
    
}

@media screen  and (max-width: 375px){
    .container h1{
        font-size: 1rem;
    }
}