@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Style Script', cursive;


*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem,1.5vw,1.5rem);
    color: black;
}

:root{
    --FONT_COLOR: black;
    --BG_COLOR: white;
    --BOX_SHADOW: rgba(0, 0, 0, 0.436);
    --LOGO_COLOR: #58C5E8; /*  #58C5E8 */
    --NAV_COLOR:#58c4e82a;
    --GREY: rgb(101, 107, 114);
    --TRANSPARENT_COLOR:rgba(255, 255, 255, 0.081);
    --BLACK_COLOR : black;
    --SANDCOLOR: #865326;
    --SEAGREEN: seagreen;
    --MENU_BG: #58c4e841;
    --SEACOLOR: #78D7F1;
    --ABOUT_TEXT_COLOR: #023631;
}

/*****  Span Styles  ************/

.white{
    color: white;
}
.dark{
    color: black;
    opacity: 1;
    font-size: 1em;
    font-weight: 800;
}

.white{
    color: white;
}

.dull{
    opacity: 0.5;
    font-weight: 800;
    font-size: 0.8em;
}


.pink{
    color: #f1889b;
}


/********Website starts********/

body{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--BG_COLOR);
    color: var(--FONT_COLOR);
    width:100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.header{
    width:100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--TRANSPARENT_COLOR) ;
    z-index: 999;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.5s;
}

.navBar{
    z-index: 1000;
    width: 100%;
    min-height: 1rem;
    display: flex;
    padding: 0 2em;
    align-items: center;
    justify-content: space-between;
}

.navBar .logo{
    font-family: 'Style Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: 2rem;
    color: #58C5E8;
    opacity: 0;
    transition: 2s;
}



.navBar .logoFirstLetter{
    font-family: 'Style Script', cursive;
    font-size: 2.5rem;
    color: #58C5E8;
    transition: 2s;
}

.header .navBar .menuItems{
    list-style: none;
    display: flex;  
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.hideMenu{
    display:none;
}


.header .menuItems li a{
    text-decoration: none;
    display: block;
    padding:  0.5rem 1rem;   
    color: var(--GREY);
    transition: 0.3s;
    transform: rotateX(90deg);
    position: relative;

}

.header .menuItems li a:hover{
    color: rgb(14, 140, 157);
    font-weight: 400;
    letter-spacing: 0.5px;
}



.showMenu{
    display: none;
    cursor: pointer;
}


/*******************Top Section *****************/

.main .topSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    position: relative;

}

.frontPage{
    width:100%;
    height: 100vh;
}

.main .topSection .cloud{
    width: 30%;
    position: absolute;
    right: 20rem;
    top: 20%;
    transition: 4s;
}

.main .topSection .boat{
    width: 20%;
    opacity: 0.5;
    position: absolute;
    bottom: 5rem;
    left:0rem;
    z-index: 2;
    transition: 2s;
    transform: rotate(-5deg);
}

.wheel{
    position: absolute;
    opacity: 0.4;
    top: 20%;
    left: 20%;
    z-index:20;
    animation:rotation 10s infinite linear;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }to{
        transform:rotate(360deg);
    }
}

.linkBar{
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 100rem;
    z-index: 3;
    opacity: 0.5;
    transition: 2s;
}

.sea{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 1;
}


.update{
    position: absolute;
    top: 28%;
    left: 28%;
    z-index: 2;
    font-size: 16px;
    padding: 0 2em;
    color:var(--GREY);
    height: 32px;
}

.container{
    height: auto;
    min-width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 25%;
    gap: 1rem;
}

.container h1{
    color: var(--GREY);
}

.wish{
    position: absolute;
    left: 0;
    top:0;
}

.autoSpell{
    position: absolute;
    left: 0;
    top: 2rem;
}

.container span{
    color: var(--LOGO_COLOR);
}

.gmail{
    position: absolute;
    right: 40px;
    bottom: 24px;
    z-index: 20;
    opacity: 0.6;
    font-size: 16px;
    letter-spacing: 0.5px;
}



/********************Main ***************/

.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



/*******************About*********************/


.aboutContainer{
    background-image: linear-gradient(#76D7F1,white);
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.aboutContainer .snow{
    position: absolute;
    opacity: 0.2;
    top:0;
    left:0;
}

.aboutContainer .glacierWall{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 0;
}

.about{
    background-color: transparent;
    min-height:100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);

    grid-template-areas: 
    "content content content content content content tech tech tech ";
    overflow: hidden;

    padding: 32px 0 0 0;

    grid-template-rows: 100vh 10vh;
    z-index: 1;
}


.content{
    background-color: transparent;
    grid-area: content;
    padding: 20px;
    z-index: 3;

    display: grid;
    grid-template-columns: 10vw 40vw;
    grid-auto-rows: auto;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
}

.content .aboutHeading{
    width: 21vw;
    transform: rotate(-90deg);
    letter-spacing: 2px;
    padding: 20px;
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 200;

    transition: 5s;
}



.content p{
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 40vw;
    height: 0%;
    padding: 36px;
    color: black;

    box-shadow: 1px 2px 4px white;
    border-radius: 10px;

    overflow: hidden;
    transition: 5s;
}



.tech{
    background-color: transparent;
    grid-area: tech;

    display: grid;
    grid-auto-rows: 30vh;
    place-items: center;
    
}

.tech h3{
    opacity: 0.8;
    letter-spacing: 12px;
    color: black;
    font-family: 'Gochi Hand', cursive;
    transform: rotateX(90deg);
    transition: 3s;    
}


.tech .skillSet{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech .skillSet .skillList{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 20px;
}

.tech .skillSet .skillList img{
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin: 12px;
    width : 0%;
    display: flex;

    border-radius: 150%;
    box-shadow: 1px 2px 10px white;
    padding: 6px;
}

.tech .skillSet .skillList img:nth-child(1){
    transition-delay: 0.2s;
}

.tech .skillSet .skillList img:nth-child(2){
    transition-delay: 0.4s;
}
.tech .skillSet .skillList img:nth-child(3){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(4){
    transition-delay: 0.4s;
}
.tech .skillSet .skillList img:nth-child(5){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(6){
    transition-delay: 0.6s;
}
.tech .skillSet .skillList img:nth-child(7){
    transition-delay: 0.5s;
}
.tech .skillSet .skillList img:nth-child(8){
    transition-delay: 0.6s;
}

.bubbles img{
    width: 50px;
    height: auto;
    animation: float 7s infinite linear;
}

.bubbles{
    grid-area: bubble;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    place-items: center;

    position: absolute;
    bottom:-10vh;
    right: 0;
}

.bubbles .flake{
    opacity: 0.8;
}



@keyframes float{
    0%{
        transform: translateY(0);
        opacity: 1;
    }25%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }75%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(-90vh);
        opacity:0;
    }
}

.bubbles img:nth-child(1){
 width: 50px;
 animation-delay: 2s;
}

.bubbles img:nth-child(2){
width: 35px;
animation-delay: 5s;
}

.bubbles img:nth-child(3){
    animation-delay: 1s;
    width: 60px;
}
.bubbles img:nth-child(4){
    animation-delay: 3s;
    width: 45px;
}
.bubbles img:nth-child(5){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 5s;
    width: 30px;
}

.bubbles img:nth-child(7){
    animation-delay: 1s;
    width: 50px;
}
.bubbles img:nth-child(8){
    animation-delay: 4s;
    width: 25px;
}
.bubbles img:nth-child(9){
    animation-delay: 2s;
    width: 40px;
}



/**************  Profiles**************/

.profiles{
    padding-top: 20vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
}

.profiles .icyMountain{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.profileEnvironment{
    height: 100vh;
    width: 100%;  

    display:flex;
    justify-content: end;
    padding: 0 5em;
    position: relative;
    z-index: 200;

}

.profileTitle{
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: title;
    gap: 3rem;
}

.linkWrap{
    width: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh;

    justify-content: center;
    justify-items: start;
    align-items: center;

    transition: 3s linear;
}

.linkWrap img{
    width: 40px;
    padding: 6px;
    margin: 5px;
    border-radius: 50px;
    transition: 2s ease-in-out;
    box-shadow: 1px 2px 5px #226b77;
}



.linkWrap a{
    text-decoration: none;
    color: #226b77;
    overflow: hidden;
    width: 90px;
    transition: 1s;
}

.linkWrap a:hover{
    color: black;
    text-decoration: underline;
}



.myProfiles{
    height: 50vh;
    width: 50vw;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    
    position: absolute;
    left:-70%;
    transition: 2s;
}

.title{
    height:50vh;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    overflow-y: hidden;

}

.titleWraper{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 50vh;
    left: 3vw;
    transition: 2s;
}


.cvButton{
    border-radius: 50px;
    width: 120px;
    height: 50px;
    display: flex;
    color: #226b77;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    transition: 1s;
}

.cvButton:hover{
    box-shadow: 1px 1px 5px #226b77;
}

.kite{
    position: absolute;
    left:0vw;
    opacity: 0.4;
    top: 0vh;
    transform: rotate(90deg);
    transition: 3s;

    animation: fly 50s linear infinite;
}

@keyframes fly{
    from{
        left:-30vw;
    }to{
        left:120vw;
    }
}


/************Project******************/

.project{
    min-height: 80vh;
    width: 100%;
    background-color: #7ED1DF;
    display: flex;
    overflow: hidden;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(#7ED1DF,white);
}



.projectTitles{
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.projectTitles h1{
    letter-spacing: 2px;
    color: rgb(72, 2, 37);
}

.projectTitle{
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.5s;
}

.projectTitle:hover{
    color: rgb(53, 53, 53);
    box-shadow: 1px 1px 12px #226b77;
}

.agro{
    background-color: rgba(0, 0, 0, 0.175);
    padding: 10px 20px;
    border-radius: 50px;
}

.blog{
    padding: 10px 20px;
    border-radius: 50px;
}


.card{
    height: 80vh;
    width: 50vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    gap: 2rem;

}

.heading{
    width: 100%;
    height: 40vh;

    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
}

.heading h3{
    color: rgb(10, 106, 103);
    width:0%;
    height: 40px;
    overflow: hidden;
    transition: 3s;
}

.titleWrapper{
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.projectLogo{
    width: 10vw;
    height: 20vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectLogo img{
    width: 60%;
    height: auto;
    opacity: 0.8;
}

.discription{
    width: 90%;

    text-align: justify;
    color: rgb(33, 80, 127);
    font-family: 'Open Sans', sans-serif;
}

.techStack{
    width: 100%;
    height: 30vh;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.techStack h3{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 30%;
    letter-spacing: 1px;
    color: rgb(22, 44, 96);
}

.techImages{
    width: 70%;
    height: 100%;
    background-color: transparent;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    gap: 2em;
    position: relative;
    overflow: hidden;
}

.techImages img{
    width : 40px;
    height: auto;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    left:0;
}

.techImages img:nth-child(1){
    left: 0%;
    transition-delay: 0.2s;
}
.techImages img:nth-child(2){
    left: 20%;
    transition-delay: 0.5s;
}
.techImages img:nth-child(3){
    left: 40%;
    transition-delay: 0.8s;

}
.techImages img:nth-child(4){
    left: 60%;
    transition-delay: 1.1s;
}
.techImages img:nth-child(5){
    left: 80%;
    transition-delay: 1.4s;
}


.techImagesTwo{
    width: 70%;
    height: 100%;
    background-color: transparent;
    padding: 20px;

    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    gap: 2em;

    position:relative;
    overflow: hidden;
    transition: 0.5s;
}

.techImagesTwo img{
    width : 40px;
    height: auto;
    transition: 1s;
    position: absolute;
    left:0;
    top: -300px;
    overflow: hidden;
}


.techImagesTwo img:nth-child(1){
    left: 0%;
    transition-delay: 0.2s;
}

.techImagesTwo img:nth-child(2){
    left: 20%;
    transition-delay: 0.5s;
}

.techImagesTwo img:nth-child(3){
    left: 40%;
    transition-delay: 0.8s;

}
.techImagesTwo img:nth-child(4){
    left: 60%;
    transition-delay: 1.1s;
}
.techImagesTwo img:nth-child(5){
    left: 80%;
    transition-delay: 1.4s;
}


/******Footer********/


.footer{
    background-color: #7ED1DF;
    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: relative;
}


.footer .follow{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 3;
    gap: 1rem;
    position: relative;
}



.footer .follow h4{
    font-weight: 400;
    z-index: 2;

}

.footer .follow p{
    font-weight: 400;
    font-size: 0.8em;
    z-index: 2;
}

.contactLinks{
    display: flex;
    gap: 1rem;
}

.footer .follow .contactLinks a{
    width: 30px;
    opacity: 0.6;
    z-index:2;
}

.footer .follow .contactLinks a:hover{
    opacity: 1;
}

.footer .follow  .contactLinks img{
    width: 30px;
    border-radius: 150%;
    padding: 5px;
    background-color: transparent;
    box-shadow: 1px 2px 5px #226b77;
}




.display{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid grey;
    position:fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
    z-index: 10000;
}


.sideBar{
    width: 15vw;
    height: 10vh;
    background-color: transparent;
    border: 1px solid grey;
    position: fixed;
    right: -300px;
    transition: 3s;
    bottom: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;   
}

.sideBar a{
    width: 30px;
}

.sideBar a img{
    opacity: 0.4;
}

.sideBar a img:hover{
    opacity: 0.7;
}

.endBanner{
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0;
    background-color: #7ED1DF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endBanner p{
    color: black;
    font-size: 0.8em;
}

.endBanner p span{
    font-size: 1em;
    font-weight: 600;
}
/******** Mobile Screen**********/

@media screen  and (max-width: 576px) { 
    .frontPage{
        width:100%;
        height: 80vh;
      }

    .showMenu{
        display: flex;
        width: 50px;
    }

    .header .navBar{
        padding: 0 0.5em;
    }


    .header .navBar .menuItems{
        min-height: 12rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        background-color: var(--MENU_BG);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        position: absolute;
        top:-20rem;
        right:-20rem;
        transition: 0.5s;
        border-bottom-left-radius: 25rem;
        padding: 0  0 4rem 4rem;     
    }

    .header .navBar .menuItems li a{
        color: var(--BLACK_COLOR);
    }

    .hideMenu{
        display: flex;
        position:absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 80px;
        padding: 0;    
    }

    .hideMenu span{
        font-size: 50px;
    }

    .navBar .logo{
        letter-spacing: 0.2rem;
    }

    .main .topSection .cloud{
        bottom: 0;
        left: 0;
        width: 60%;
    }

    .container{
        top: 40%;
        left: 10%;
        min-width: 70%;
        height: 100px;
    }

    .main .topSection .boat{
        width: 50%;
        bottom: 3rem;
        left: 0rem;
    }

    .linkBar{
        width: 50%;
    }
}

@media screen  and (max-width: 400px) {
    .header{
        height: 90px;
    }

    .main .topSection .frontPage{
        margin-bottom: 0px;
        overflow:hidden;
    }

    .header .navBar .showMenu{
        opacity: 0.8;
    }

    .frontPage .sea{
        width: 100%;
        bottom: 60px;
        height: 120px;
    }

    .frontPage .cloud{
        top: 12%;
        left: 20%;
        width: 80%;
        opacity: 0.9;
    }

    .frontPage .container{
        top : 45%;
        width: 80%;
    }

    .frontPage .boat{
        width: 60%;
        bottom: 7rem;
        left:0;
        transform: rotate(-10deg);
    }

    .wheel{
        top: 16%;
        width: 30%;
        left: 12px;
        opacity: 0.4;
    }

    .frontPage .update{
        display: none;
    }


    .frontPage .linkBar{
        width: 68%;
        height: auto;
        right: 0;
        bottom: 30px;
    }

    .gmail{
       letter-spacing: 0;
       right:16px;
       font-size: 0.8em;
       bottom: 50px;

    }

    .aboutContainer{
        background-image: linear-gradient(#76D7F1,white);
        width: 100%;
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }

    .about{
        background-color: transparent;
        min-height:100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
    
        grid-template-areas: 
        "content content content content content content"
        "tech tech tech tech tech tech ";
        overflow: hidden;
    
        padding: 32px 0 0 0;
    
        grid-template-rows: 50vh 50vh;
        z-index: 1;

        place-items: center;
    }

    .content{
        align-items: center;
    }
    .content .aboutHeading{
        width: 21vw;
        transform: rotate(-90deg);
        letter-spacing: 2px;
        padding: 20px;
        color: black;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 200;
    
        transition: 5s;
        display: none;
    }



    .content p{
        width: 90vw;
        height: 0%;
        padding: 36px;

    
        overflow: hidden;
        transition: 5s;
    }
    /********profiles */

    .profileEnvironment{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myProfiles{
        height: 40vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }


    /********Projects */

    .project{
        flex-direction: column;
        gap: 0rem;
        min-height: 50vh;
    }

    .projectTitles{
        width: 100%;
        height: 20vh;
    }

    .card{
        height: 50vh;
        width: 100%;
        gap: 0;
        padding: 0px 20px;
        justify-content: space-evenly;
    }

    .titleWrapper{
        flex-direction: row;
        height: 80px;
    }

    .heading{
        height: 10vh;
    }


    .projectLogo{
        width: 90px;
        height: 60px;
    }

    .techStack{
        justify-content: center;
        height: 10vh;
    }

    .techImages{
        width: 60%;
    }



    .footer{
        height: 25vh;
    }

    .sideBar{
        width: 100px;
        height: 6vh;
        padding: 10px;
        gap: 4px;
    }

    .sideBar a{
        width: 20px;
    }
    

}